/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

.jcb-popup-container {
    width: 100%;
    padding: 55px 22px;
    transform: translate(0%, 2%);
}
.jcb-popup-subscribe-form form input[type=email] {
    font-size: 20px;
    padding: 0px 20px;
    width: 100%;
    height: 40px;
}
.jcb-popup-right-content p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 30px;
    font-weight: 400;
}
.jcb-popup-subscribe-form form input[type=submit] {
    width: 100%;
    height: auto;
    padding: 7px;
    font-size: 20px;
}
.jcb-popup-left {
    width: 40%;
    padding-top: 60px;
}
.jcb-popup-right {
    width: 57%;
    margin: 0 auto;
}
.jcb-popup-left-logo {
    width: 90%;
    margin: 0 auto;
}
.jcb-popup-subscribe-form {
    margin-top: 25px;
}
.jcb-popup-subscribe-form h4 a {
    padding: 10px 10px;
    font-size: 18px;
}
.jcb-popup-subscribe-form p {
    margin: 10px;
    font-size: 18px;
}
.admin-bar .jcb-popup-container {
    width: 100%;
    padding: 55px 22px;
    transform: translate(0%, 7%);
}




}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.jcb-popup-left-logo {
    width: 55%;
    margin: 0 auto;
}
.jcb-popup-container {
    width: 100%;
    padding: 45px 10px;
    transform: translate(0%, 0%);
}
.jcb-popup-close a i {
    font-size: 25px;
    line-height: 30px;
}
.jcb-popup-container {
    display: inherit;
}
.jcb-popup-left {
    width: 100%;
    padding-top: 0;
}
.jcb-popup-right {
    width: 100%;
}
.jcb-popup-right-content p {
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 31px;
}
.jcb-popup-subscribe-form form input[type=email] {
    font-size: 16px;
    padding: 20px 15px;
}
.jcb-popup-subscribe-form form input {
    margin-bottom: 12px;
}
.jcb-popup-subscribe-form form input[type=submit] {
    font-size: 16px;
    padding: 10px 15px;
}
.jcb-popup-subscribe-form h4 {
    font-size: 15px;
    padding: 5px;
}
.jcb-popup-subscribe-form h4 a {
    padding: 5px 9px;
}
.jcb-popup-subscribe-form p {
    margin: 8px 0px 0px 0px;
    font-size: 14px;
}
.jcb-popup-left-text h2 {
    font-size: 53px;
}
.jcb-popup-left-text {
    margin-right: 0;
}
.jcb-popup-right-content {
    text-align: center;
}
.jcb-popup-right-content p {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 25px;
    margin-top: 10px;
}
.jcb-popup-subscribe-form {
    margin-top: 30px;
}






}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.jcb-popup-left-text h2 {
    font-size: 74px;
}
.jcb-popup-close a i {
    font-size: 35px;
}
.jcb-popup-left-logo {
    width: 44%;
    margin: 0 auto;
}
.jcb-popup-container {
    padding: 30px 20px;
}
.jcb-popup-subscribe-form form input[type=email] {
    font-size: 18px;
}
.jcb-popup-subscribe-form p {
    font-size: 17px;
}





}